*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    overflow-y: hidden;
    font-family: 'Montserrat', sans-serif; color: white;
    background: #342c3c; height: 100vh; 
}

.container_box{
    width: 350px; margin: 100px auto 20px auto;
    display: flex; flex-direction: column; align-items: center; 
    justify-content: center; background: #302938;
}

.title_box{
    margin-top: 5%;
    font-size: 22px;
}

.buttons{
    display: flex; flex-direction: row;
    align-items: center; gap: 25px;
    margin-top: 6%; 
}

.log_btn{
    display: flex; flex-direction: row; align-items: center;
    gap: 12px; background: #352e3d; 
    border: none; border-radius: 3px; font-size: 15px;
    width: 100%; padding: 15px 25px;
    color: rgb(185, 185, 185); cursor: pointer;
}

.center_text{
    margin-top: 6%; 
}

input{
    display: flex; flex-direction: column; min-width: 290px;
    height: 46px; padding: 15px 10px; border: none; border-radius: 4px;
    background: #352e3d; color: white;
}

.email_field{
    margin-bottom: 20px; display: flex; flex-direction: column;
    gap: 8px;
}

.password_field{
    display: flex; flex-direction: column; gap: 8px;
}

.fields{
    display: flex; flex-direction: column; gap: 10px;
}

.Login_btn{
    color: white; background: #8e80f5; border-radius: 4px;
    border: none; font-size: 15px; padding: 15px 10px; 
    min-width: 310px; height: 32px; display: flex; 
    align-items: center; justify-content: center; text-align: center;
    cursor: pointer; margin-bottom: 10%; margin-top: 7%;
}

.end {
    text-align: center;
    margin-top: 10px;
}

.end a{
    color: #9089F0; text-decoration: none;
}